# Copyright (c) 2020, Dell Inc. or its subsidiaries.
# All rights reserved.
# See file LICENSE for licensing information.
#
# Reference: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions (https://archive.vn/1aWt2)
---
name: Run tests against samba

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-20.04
    strategy:
      max-parallel: 5
      matrix:
        python-version: ["2.7.18", "3.6.15", 3.7, 3.8, 3.9, "3.10", "3.11"]

    services:
      samba:
        image: dperson/samba@sha256:2d94eb73e10402751afff19af10d3ad91014b137843bdd960bb39f4188acdcfa
        env:
          USER: pike;GiThubCI123
          SHARE: pike;/share;;no;no;;pike;;
        ports:
        # will assign a random free host port
        - 445/tcp

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - run: python --version && which python
    - name: Install dependencies
      run: pip install tox tox-gh-actions
    - name: Test Pike
      env:
        PIKE_SERVER: 127.0.0.1
        PIKE_PORT: ${{ job.services.samba.ports[445] }}
        PIKE_SHARE: pike
        PIKE_CREDS: pike%GiThubCI123
      run: tox -- -m 'not nosamba'
